@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;
  --animate-scale-in: scale-in 0.5s ease-out forwards;
}

@layer utilities {
  .clip-path-slant {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}

html,
body {
  background-color: #000000;
  /* pure black */
  background-image: url('/1401469.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f8fafc;
  /* slate-50 */
  font-family: 'Inter', system-ui, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}